[user]
	name = Marko Kevac
	email = marko@kevac.org
[color]
	ui = true
[core]
	editor = /usr/bin/vim
[push]
	default = tracking
[mergetool]
	keepBackup = true
[grep]
	lineNumber = true
[branch]
	autosetuprebase = always
[alias]
	l = log --oneline --graph
	lb = latest-build
